*{
   box-sizing: border-box;
}

.main-header{
   position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 35%;
    padding: 124px 54px 72px;
    box-sizing: border-box;
    background-image: url(./assets/overlay.png), url(./assets/back2.jpg);
    background-position: left top;
    background-size:  cover;
    text-align: right;
    display: flex;
    flex-direction: column;
    
   
}

.imagem-esq{
   margin-left: auto;
}

.main-header img:hover{
   transform: scale(1.8);
}

.main-content{
   width: 65%;
   margin-left: 35%;
   padding: 50px 54px 72px;
   box-sizing: border-box;
   background: rgb(131,58,180);
   /* background: linear-gradient(133deg, rgba(131,58,180,1) 0%, rgba(177,120,120,1) 50%, rgba(252,176,69,1) 100%); */
   font-size: 15px;
  
 
}



nav {
 margin-top: auto;
}
.foto{
   display: none;
   aspect-ratio: 1 /1;
}
.teste {
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   column-gap: 20px;
   justify-content: left;
   
}

.teste .nav a:hover .foto {
   display: block;
   position: absolute;
   top: -64px;
   left: 50%; /* Center the image horizontally */
   transform: translateX(-50%); /* Horizontally center the image within its container */
   width: 64px;
   height: 64px;
 }
 
 .teste .nav a {
   position: relative; /* Needed for absolute positioning of the image */
 }
 
 .teste .nav a .foto {
   display: none; /* Hide the image initially */
 }

.nav a {
   color: rgb(13, 149, 228);
   cursor: pointer;
   transition: transform 0.3s; 
   font-size: 18px;
   display: inline-block;
}

.nav a:hover {
   color: rgb(214, 21, 21);
   transform: scale(1.5)
}

.nav {
   list-style: none;
   margin: 0;
}
  



.main-header-title {
   font-size: 22px;
   line-height: 1.5;
   color: rgba(255, 255, 255, 0.507);
   font-weight: normal;
   
}

.main-header-title  strong{
   color: rgb(255, 255, 255);
   font-weight: normal;  
}

.mian-header-link{
   color: inherit;
   text-decoration: none;
}

.mian-header-link:hover{
   color: #49bf9d;
   
}

@media (max-width: 900px) {
   .main-header{
   position: static;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    padding: 2em 2em;
            
   }

   .main-header img {
      
   }


   .main-content{
    margin-left: 0;
    width: 100%;  
   padding: 1em;
   box-sizing: border-box;
   overflow: hidden;
      
      
      
   }


   .resflex {
      display:grid;
      grid-template-areas: 
      "a"
      "b"
      "c"
      "d"
      ;
     
   }

}
